p {
    margin-bottom: 0;
}

.container {
    padding: 4px;
    padding-top: 20px
}

.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed gray;
}

.validate_txt {
    color: red;
    font-size: 13px;
    visibility: hidden;
    margin-bottom: 0;
    margin-top: 0;
}

#file_open_button {
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}