html, body, #mapid {
    height: 100%;
}

body {
    margin: 0;
}

#mapid {
    /* z-index: 0; */
    max-height: 1000px;
    max-width: 700px;
}

.marker {
    text-align      : center;
    color           : white;
    font-size       : 16;
    border-radius   : 8px;
    box-shadow      : 8px 8px 8px rgba( 0, 0, 0, 0.4 );
}

.red {
    background      : red;
}

.blue {
    background      : blue;
}

.content {
    position: absolute;
    left: 720px;
    top: 0;
    width: calc(100% - 720px);
    height: 100%;
    padding: 10px;
}

#entity_table {
    margin-top: 10px;
}

[id$="-table"] {
    display: block;
    overflow-y: scroll;
    height: 740px;
    border-collapse: collapse;
}

[id$="-table"] thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-top:#FFFFFF;
    width: 38%;
}

.checkbox {
  display: none;
}
.checkbox-fontas {
  position: relative;
  vertical-align: middle;
  /* font-size: 21px; */
}
.checkbox + .checkbox-fontas:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: '\f06e';
  color: #808080;
}
.checkbox:checked + .checkbox-fontas:before {
  color: #808080;
  content: '\f070';
}

#tab-content {
    padding-top: 10px;
}

#tabs {
    padding-top: 10px;
}

.checked-marker {
    visibility: hidden;
}