html, body, #mapid {
    height: 100%;
}

body {
    margin: 0;
}

#mapid {
    /* z-index: 0; */
    max-height: 1000px;
    max-width: 700px;
}

.marker {
    text-align      : center;
    color           : white;
    font-size       : 16;
    border-radius   : 8px;
    box-shadow      : 8px 8px 8px rgba( 0, 0, 0, 0.4 );
}

.red {
    background      : red;
}

.blue {
    background      : blue;
}

.content {
    position: absolute;
    left: 720px;
    top: 0;
    width: calc(100% - 720px);
    height: 100%;
    padding: 10px;
}

#entity_table {
    margin-top: 10px;
}

#entity_table {
    display: block;
    overflow-y: scroll;
    height: 790px;
    border-collapse: collapse;
}

#entity_table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-top:#FFFFFF;
    width: 38%;
}